<p class="text-info">感谢您使用如果购买商品.</p>
<p class="text-info">这里是您的购物车. 在这里您可以编辑已购商品，返回商品列表或清空购物车</p>


<div>
	<div class="panel panel-default  col-xs-12 col-sm-8">
		<div class="panel-body">
			<table class="table table-bordered" border="" cellspacing="" cellpadding="">
				<tr>
					<th>商品</th>
					<th>数量</th>
					<th>价格</th>
				</tr>
				<tr ng-repeat="data in buycar">
					<td ng-bind="data.name"></td>
					<td class="b buttonBox text-center">
						<p class="">
							<button ng-click="reduce(data.id,data.price,data.name,'reduce')" class="btn btn-success">-</button>
							<span ng-bind="data.num"></span>
							<button ng-click="add(data.id,data.price,data.name)" class="btn btn-success">+</button>
						</p>
					</td>
					<td ng-bind="data.price | currency:'￥'"></td>
				</tr>
				<tr>
					<th>合计</th>
					<th ng-bind="allNum"></th>
					<th ng-bind="allPrice"></th>
				</tr>
		
			</table>
		</div>
		
	</div>
	<div class="col-xs-12 col-sm-3 col-sm-offset-1">
			<button ng-click="clear()" class="btn btn-danger col-xs-12" style="margin-bottom: 10px;">清空购物车</button>
			<a href="#/main" class="btn btn-default col-xs-12">返回首页</a>
		</div>
</div>
