<p>
	<img src="{{'img/products/'+data.wd+'.jpg'}}"/>
	<span ng-bind="data.name"></span>
	<span ng-bind="data.description"></span>
</p>
<div id="">
	<div class="panel panel-default col-xs-12 col-sm-8 noP">
		<div class="panel-heading text-right">
			<a href="#/buycar">
				<span class="glyphicon glyphicon-leaf"></span><span ng-bind="allNum"></span>个，
				<span class="glyphicon glyphicon-euro"></span><span ng-bind="allPrice"></span>
			</a>
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<tr>
					<td>热量</td>
					<td ng-bind="data.hot"></td>
					<td></td>
				</tr>
				<tr ng-repeat="x in infos">
					<td ng-bind='x.name'></td>
					<td><img class="center-block" src="{{'img/r'+x.val+'.png'}}"/></td>
					<td ng-bind='x.text'></td>
				</tr>
				
			</table>
		</div>
	</div>
	<div class='detail col-xs-12 col-sm-3 col-sm-offset-1 buttonBox'>
		<button ng-click="add(data.id,data.price)" class="btn btn-success col-xs-10 col-xs-offset-1">加入购物车</button>
		<button ng-click="remove(data.id)" class="btn btn-danger col-xs-10 col-xs-offset-1">从购物车移除</button>
		<a href="#/main" class="btn btn-default col-xs-10 col-xs-offset-1">返回首页</a>
	</div>
	
</div>
