


<div>
	<div class="panel panel-primary col-xs-12 col-sm-6 col-sm-offset-3 noP">
		<div class="panel-heading">
			登陆
		</div>
		<div class="panel-body">
			<form class="form-group">
				<input ng-model="uname" class="form-control smallM" type="text" name="" id="" value="" />
				<input ng-model="upass" class="form-control smallM" type="password" name="" id="" value="" />
				<button ng-click="login()" type='button' class="btn btn-default">登陆</button>
				<a href="#/register">去注册</a>
			</form>
		</div>
	</div>
	
</div>
