<div id="">
	<p class="text-info">欢迎光临千锋水果店.</p>
	<p class="text-info">请选择您要的产品并将其添加到您的购物车。</p>
	<p class="text-info">当您完成后，请单击“购物车图标”来查看您的订单信息。</p>
</div>
<div>
	<p>
		搜索：
		<input ng-model="filterBy" class="form-control" type="text" name="" id="" value="" />
	</p>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		商品列表
		<a href="#/buycar" class="pull-right">
			<span class="glyphicon glyphicon-leaf"></span><span ng-bind="allNum"></span>个，
			<span class="glyphicon glyphicon-euro"></span><span ng-bind="allPrice"></span>
		</a>
	</div>
	<div class="panel-body">
		<table class="table table-bordered" >
			<tr>
				<th>图片</th>
				<th>介绍</th>
				<th>价格</th>
				<th>操作</th>
			</tr>
			<tr ng-repeat="data in dataList | filter:filterBy">
				<td> <img class="center-block" src="{{'img/products/'+data.wd+'.jpg'}}"/></td>
				<td >
					<a ng-click="toDetail(data.id)" ng-bind="data.name"></a>
					<p ng-bind="data.description"></p>
				</td>
				<td ng-bind="data.price | currency:'￥'"></td>
				<td><a ng-click="add(data.id,data.price,data.name)">加入购物车</a></td>
			</tr>
		</table>
		
		
		
	</div>
</div>
