<div>
	<div class="panel panel-primary col-xs-12 col-sm-6 col-sm-offset-3 noP">
		<div class="panel-heading">
			注册
		</div>
		<div class="panel-body">
			<form class="form-group">
				<input ng-model="uname" class="form-control smallM" type="text" name="" id="" value="" />
				<input ng-model="upass" class="form-control smallM" type="password" name="" id="" value="" />
				<button ng-click="register()" type='button' class="btn btn-default">注册</button>
				<a href="#/login">去登陆</a>
				
			</form>
		</div>
	</div>
	
</div>